{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="content">
	<div class="row">
		<div class="col-md-12">
			<p>
				Est. 1998

				Dancing Bones is located in the Baker River Valley and the entrance to the White Mountains of New Hampshire. The Connecticut River is a 20 minute drive and the Appalachian Trail is 1.4 miles from the end of our driveway. There are many other ponds, streams, lakes, hiking trails, rock climbing and camping opportunities close at hand, to say nothing of the wintertime activities. The nearest gas station is ten minutes away and the nearest major shopping destinations are 30+ minutes away.

				The community is situated hillside, amongst 40 acres of deciduous forest. A 16x32 cabin functions as our Community Building with shared kitchen, showers, laundry and pantry. For overnight guests, we have a small, furnished, wood heated Guest Cabin. Peppered throughout are a handful of residential cabins. Each cabin is given a name that reflects the character of the person/people who originally built it or the function it serves. All residences and public privies use a humanure composting toilet system.

				The land is held in a community trust. The trust is made of nine members, three from Dancing Bones and six from the greater community. The trust leases the land to Dancing Bones residents. All residential decisions are made using full consensus.

				While the residents of Dancing Bones are diverse, there are common values and interests we share. These values include deliberate decision making and action, personal responsibility and social inclusion and involvement. As a result, our interests tend towards unschooling, attachment parenting, alternative technologies and construction, non-mainstream diet and hygiene, temperament theory, voluntary simplicity and an appreciation for the undomesticated aspects of life.
			</p>
		</div>
	</div>
</div>
{% include "footer.html" %}
{% endblock %}	
