<div class="row divider green">
	<div class="col-md-12"></div>
</div>
<div class="row menuLinks">
	<h1>
		<div class="col-md-2"><a href="{{url_for('displayAbout')}}">about</a></div>
        <div class="col-md-2"><a href="{{url_for('displayNews')}}">news</a></div>
        <div class="col-md-2"><a href="{{url_for('displayVisit')}}">visit</a></div>
		<div class="col-md-2"><a href="{{url_for('displayHikerInfo')}}">hikers</a></div>
		<div class="col-md-2"><a href="{{url_for('donate')}}">donate</a></div>
        <div class="col-md-2"><a href="{{url_for('login')}}">log in</a></div>
    </h1>
</div>
